<div class="card card-normal w-96 shadow-lg">
  <div class="card-body">
    <div class="card-title">
      <span>New Service launch!</span>
      <div class="badge badge-accent">NEW</div>
    </div>
    <div>
      <p>
        Lorem, ipsum dolor sit amet consectetur adipisicing elit. Atque vitae
        nihil deleniti possimus eos eligendi blanditiis harum iusto alias rerum
        corporis itaque nisi, quisquam laborum nostrum ad repellat perspiciatis
        pariatur!
      </p>
    </div>
    <div class="card-actions justify-end">
      <button class="btn btn-primary">Buy Now</button>
    </div>
  </div>
</div>
