<div class="text-base flex flex-col gap-5">
  <div class="text-2xl text-primary">Dashboard KPIs</div>
  <div>
    <div class="stats shadow">
      <div class="stat">
        <div class="stat-figure text-primary">
          <img class="w-8" src="/assets/view.svg" alt="" />
        </div>
        <div class="stat-title">Total Page Views</div>
        <div class="stat-value">89,400</div>
        <div class="stat-desc">21% more than last month</div>
      </div>

      <div class="stat">
        <div class="stat-figure text-primary">
          <img class="w-8" src="/assets/like.svg" alt="" />
        </div>
        <div class="stat-title">Total Likes</div>
        <div class="stat-value text-primary">25.6K</div>
        <div class="stat-desc">21% more than last month</div>
      </div>

      <div class="stat">
        <div class="stat-figure text-secondary">
          <div class="avatar online">
            <div class="w-16 rounded-full">
              <img src="https://avatars.githubusercontent.com/u/40270033?v=4" />
            </div>
          </div>
        </div>
        <div class="stat-value">86%</div>
        <div class="stat-title">Tasks done</div>
        <div class="stat-desc text-secondary">31 tasks remaining</div>
      </div>
    </div>
  </div>
</div>
