<div>
  <div class="text-2xl text-primary">Dashboard KPIs</div>
  <div>
    <div class="stats shadow">
      <app-statscard
        image="/assets/view.svg"
        title="Total Page Views"
        value="99.4K"
        description="21% more than last month"
      ></app-statscard>
      <app-statscard
        image="/assets/like.svg"
        title="Your Feedback"
        value="305"
        description="11.3% more than last month"
      ></app-statscard>

      <app-statscard
        image="/assets/info.svg"
        value="65%"
        title="Quota used"
        description="52/80 free calls left."
        stattype="warn"
      ></app-statscard>

      <app-statscard
        image="/assets/chat.svg"
        value="65%"
        title="Conversation AI"
        [description]="'32% &downarrow; less than last month'"
        stattype="info"
      ></app-statscard>

      <div class="stat">
        <div class="stat-figure text-secondary">
          <div class="avatar online">
            <div class="w-16 rounded-full">
              <img src="https://avatars.githubusercontent.com/u/40270033?v=4" />
            </div>
          </div>
        </div>
        <div class="stat-value">86</div>
        <div class="stat-title">Tasks done</div>
        <div class="stat-desc text-secondary">31 tasks remaining</div>
      </div>
    </div>
  </div>
</div>
